* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text: 'Poppins', sans-serif;
  --ff-title: 'Staatliches', cursive;
}

.page {
  margin: 0 auto;
  width: 750px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 110px;

  color: white;
}

h1,
p,
svg {
  margin: 0 auto;
}

svg {
  margin-bottom: 32px;
}

header h1 {
  font-family: var(--ff-title);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

header p {
  font-family: var(--ff-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
}

body::before {
  content: '';
  background-color: #293241;

  position: absolute;
  width: 100%;
  height: 465px;

  z-index: -1;

  left: 0;
  top: 0;
}

body {
  background-color: #bfd7e4;
}

form {
  padding: 0 64px;

  background-color: #ffffff;

  width: 100%;
  height: 1208px;

  border-radius: 20px 20px 20px 20px;
}

legend1 {
  display: flex;
  justify-content: center;

  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #ffffff;
}

legend {
  display: flex;
  justify-content: center;

  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #253b51;

  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6f0;
}

label {
  font-family: var(--ff-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-top: 15px;
  margin-bottom: 8px;
}

span {
  margin-left: 9px;
}

.input-wrapper input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;

  background-color: #fafafc;
  min-width: 300px;
  width: 100%;
  height: 55px;
}

select {
  border-radius: 8px;
  border: 1px solid #e6e6f0;

  background-color: #fafafc;
  min-width: 300px;
  width: 50%;
  height: 55px;
}

textarea {
  border-radius: 8px;
  border: 1px solid #e6e6f0;

  background-color: #fafafc;
  min-width: 300px;
  width: 100%;
  height: 166px;
}

.legend-wrapper {
  min-width: 750px;
  width: 100%;
  height: 133px;
  padding: 50px 275px;

  border-radius: 20px 20px 0 0;

  background-color: #f67669;

  /* para ignorar o padding do form */
  margin: 0 -64px;
  margin-bottom: 15px;
}

.legend-wrapper legend {
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: white;
}

.fieldset-wrapper {
  padding: 0;
  margin: 0;

  margin-bottom: 31px;
}

fieldset {
  border: 0;
  padding: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-bottom: 9px;
}
.input-wrapper-date span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-bottom: 9px;
}

/* HORIZONTAL WRAPPER */

.hor-wrapper {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

/* CHECKBOX */

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  position: absolute;

  top: 0;
  left: 0;

  width: 24px;
  height: 23.8px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 23.8px;
  left: 409px;
  top: 1137px;

  background: #fafafc;
  border: 4px solid #e6e6f0;
  border-radius: 8px;
  display: block;
}

.checkbox-wrapper label {
  gap: 8px;
  display: flex;
  align-items: center;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A"); /* flecha azul*/
}

.checkbox-wrapper input:focus + label::before {
  outline: 3px solid black;
}

/* DATA WRAPPER */

.hor-wrapper-date {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-wrapper-date {
  margin-top: 15px;
}

.input-wrapper-date input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;

  background-color: #fafafc;
  min-width: 300px;
  width: 50%;
  height: 55px;
  margin-right: 22px;
  margin-top: 8px;
  padding: 10px;
}

.input-wrapper-time {
  margin-top: 15px;
}

.input-wrapper-time label {
  font-family: var(--ff-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 8px;
}

.input-wrapper-time input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;

  background-color: #fafafc;
  min-width: 140px;
  width: 100%;
  height: 55px;

  margin-top: 8px;
  padding: 10px;
}

footer button {
  background-color: #f67669;
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: white;

  padding: 12px 40px 18px 40px;
  gap: 10px;

  margin-top: 32px;
  width: 622px;
  height: 51px;

  border: 0px;
  border-radius: 8px;
}

footer button:hover {
  background: #f14431;
}
